In [4]:
# importar librer√≠as
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('dat.csv')

In [6]:
df.head(3)

   0.9317189805776385   50.94283197947629   2596.040230347921
0            0.796997           50.312938         2532.026902
1            1.115603           50.156194         2516.888332
2            1.064629           50.774814         2579.215190

In [7]:
X = df.iloc[:,0:2]
y = df.iloc[:,2]