In [94]:
#Sophia Gamarro
#20170356
# importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [95]:
df = pd.read_csv('dat.csv')

In [96]:
df.head(10)

   0.9317189805776385   50.94283197947629   2596.040230347921
0            0.796997           50.312938         2532.026902
1            1.115603           50.156194         2516.888332
2            1.064629           50.774814         2579.215190
3            1.796804           50.055668         2508.798424
4            1.261743           50.522134         2554.078001
5            2.300427           50.958444         2602.054997
6            2.532435           50.713195         2578.241392
7            2.322170           50.779025         2583.901829
8            3.012008           50.358310         2545.031620
9            2.981136           50.289644         2537.935500

In [97]:
df.columns
y = df[[' 2596.040230347921']].to_numpy()
df['const']=1
X = df[['const','0.9317189805776385', ' 50.94283197947629']].to_numpy()

In [98]:
print(y.shape,X.shape)

(159999, 1) (159999, 3)

In [120]:
def linear_cost(X, y, theta):
    h = X @ theta
    return ((y-h)**2).sum() / (2 * len(X))

def linear_cost_gradient(X, y, theta, lambda_=10):
    h = X @ theta
    lambda_f = (lambda_/(2*len(X))) * (theta**2).sum()
    return (X.T @ (h-y))/ len(X) + lambda_f


def gradient_descent(
X,y,theta_0,linear_cost,linear_cost_gradient,
    learning_rate = 0.0001, threshold=0.001, max_iter=10000,lambda_ = 10): 
    
    theta = theta_0
    iteration = 0 
    costs = []
    thetas = []
    
    while np.linalg.norm(linear_cost_gradient(X,y,theta)) > threshold and iteration < max_iter:
        iteration += 1 
        theta = theta - (learning_rate * linear_cost_gradient(X,y,theta) + lambda_ * theta)
        costs.append(linear_cost(X,y,theta))
        thetas.append(theta.copy())
        
    return theta, costs, thetas

In [121]:
m,n = X.shape
theta_0 = np.random.rand(n,1)
theta_0.shape

(3, 1)

In [122]:
print(theta_0.shape)

(3, 1)

In [123]:
np.random.shuffle(X)
np.random.shuffle(y)
X_train = X[:96000]
X_cv = X[96001:128000]
X_test = X[128001:159999]

In [124]:
y_train = y[:96000]
y_cv = y[96001:128000]
y_test = y[128001:159999]

In [125]:
print(X_train.shape,X_cv.shape,X_test.shape)
print(y_train.shape,y_cv.shape,y_test.shape)

(96000, 3) (31999, 3) (31998, 3)
(96000, 1) (31999, 1) (31998, 1)

# regresión grado 1

In [126]:
theta, costs, thetas = gradient_descent(X_train,y_train,theta_0,linear_cost,linear_cost_gradient,0.0000001,0.001,10000,2)

In [127]:
len(costs)

10000

In [128]:
print(costs[len(costs)-1])

1.8259246053021538e+19

In [129]:
#Costo pequeño

# Regresión grado 3

In [130]:
df['0.9317189805776385_2'] = df['0.9317189805776385'] ** 2
df['0.9317189805776385_3'] = df['0.9317189805776385'] ** 3

In [110]:

y2 = df[[' 2596.040230347921']].to_numpy()
X2 = df[['const','0.9317189805776385','0.9317189805776385_2', '0.9317189805776385_3',' 50.94283197947629']].to_numpy()

In [111]:
m,n = X2.shape

In [112]:
theta_0_2= np.random.rand(n,1)

In [113]:
X2_train = X2[:96000]
X2_cv = X2[96001:128000]
X2_test = X2[128001:159999]
y2_train = y2[:96000]
y2_cv = y2[96001:128000]
y2_test = y2[128001:159999]

In [117]:

print(X2_train.shape,X2_cv.shape,X2_test.shape)
print(y2_train.shape,y2_cv.shape,y2_test.shape)

(96000, 5) (31999, 5) (31998, 5)
(96000, 1) (31999, 1) (31998, 1)

In [118]:
theta2, costs2, thetas2 = gradient_descent(X2_train,y2_train,theta_0_2,linear_cost,linear_cost_gradient,0.00000000000001,0.001,10000,2)

In [119]:
print(costs2[len(costs2)-1])

1.8178080400005187e+22

In [116]:
#valor mas pequeno, mas acertdado lo cual puede indicar que es un mejor modelo